.clubsCardsBlock {
  .club {
    padding: 0 15px;
  }
  img {
    width: 100%;
    border-radius: 6px;
  }
  .clubsName {
    text-align: center;
    font-size: 2.7vmin;
    margin: 20px 0 15px 0;
  }
}
